@model LocalEyesWebAPI.Models.Message

@{
    ViewData["Title"] = "Slet Besked";
}

<h1>@ViewData["Title"]</h1>

<h4>Er du sikker på at du ønsker at slette beskeden? Handlingen kan ikke fortrydes!</h4>
    
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MessageID" />
        <input type="submit" value="Slet" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Fortryd</a>
    </form>
</div>
